
.mousedown::before{
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    content: "Event Js";
    color: black;
    background-color: rgb(226, 226, 9);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

}